# Server Configuration
PORT=port_number

# Database Configuration
MONGO_URI=mongodb_uri

# GitHub OAuth Configuration
GITHUB_CLIENT_ID=your-github-client-id
GITHUB_CLIENT_SECRET=your-generated-client-secret-key

# JWT Configuration
JWT_SECRET=your-jwt-token
JWT_EXPIRES_IN=expiration-time
JWT_REFRESH_EXPIRES_IN=expiration-time